body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.checkbox-toping{
  display: none;
}

.checkbox-toping:checked+label::after{
  content: url(/src/assets/check.png);
  display: absolute;
}
.bgCard {
  background-color:#F6E6DA !important;
  border-radius: 12px !important;
}

.button-main{
  background-color:#613D2B !important;
}

.button-log{
  background-color: #613d2b45  !important;
}

.border-main{
  background-color: #613d2b45  !important;
  border-width: 2px !important;
}
